# OS and editor clutter
.DS_Store
._*
Thumbs.db
ehthumbs.db
Icon?
.Spotlight-V100
.Trashes
*.swp
*.swo
*.tmp

# Obsidian
**/.trash/
**/.obsidian/cache/
**/.obsidian/workspace*
**/.obsidian/updates.json
**/.obsidian/app.json

# Common plugin caches
**/.obsidian/plugins/*/cache/
**/.obsidian/plugins/*/.cache/
**/.obsidian/plugins/*/node_modules/
/Team Panoptes Classes/.obsidian/plugins/obsidian-style-settings
/Team Panoptes Classes/.obsidian/themes
/Team Panoptes Classes/.obsidian/appearance.json
/Team Panoptes Classes/.obsidian/hotkeys.json
